<?xml version="1.0"?>
<configuration xmlns="http://schemas.microsoft.com/.NetConfiguration/v2.0">
	<connectionStrings>
		<add name="Personal" connectionString="Data Source=.\SQLExpress;Integrated Security=True;User Instance=True;AttachDBFilename=|DataDirectory|Personal.mdf" providerName="System.Data.SqlClient"/>
		<remove name="LocalSqlServer"/>
		<add name="LocalSqlServer" connectionString="Data Source=.\SQLExpress;Integrated Security=True;User Instance=True;AttachDBFilename=|DataDirectory|aspnetdb.mdf"/>
	</connectionStrings>
	<system.web>
		<pages styleSheetTheme="White"/>
		<customErrors mode="RemoteOnly"/>
		<compilation debug="true"/>
		<authentication mode="Forms">
			<forms loginUrl="Default.aspx" protection="Validation" timeout="300"/>
		</authentication>
		<authorization>
			<allow users="*"/>
		</authorization>
		<globalization requestEncoding="utf-8" responseEncoding="utf-8"/>
		<roleManager enabled="true"/>
		<siteMap defaultProvider="XmlSiteMapProvider" enabled="true">
			<providers>
				<add name="XmlSiteMapProvider" description="SiteMap provider which reads in .sitemap XML files." type="System.Web.XmlSiteMapProvider, System.Web, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" siteMapFile="web.sitemap" securityTrimmingEnabled="true"/>
			</providers>
		</siteMap>
	</system.web>
	<location path="Admin">
		<system.web>
			<authorization>
				<allow roles="Administrators"/>
				<deny users="*"/>
			</authorization>
		</system.web>
	</location>
</configuration>
